body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: rgb(0, 119, 255);
}

.search-box {
  text-align: center;
  margin-bottom: 20px;
  
  
}

input[type="text"] {
  color: white;
  padding: 10px;
  width: 300px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(0, 119, 255);
}

button {
  padding: 10px 20px;
  background-color: rgb(0, 119, 255);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 119, 255);
}

table {
  width: 100%;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 10px rgba(208, 243, 9, 0.842);
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

th {
  background-color: rgb(0, 119, 255);
  color: white;

}

